<html>
  <body>
  <div class="container">
    <h1>New event</h1>
      <%= render "form", event: @event %>
      <br>
    <div>
    <%= link_to "Back to events", events_path %>
    </div>
  </div>
  </body>
</html>

<style>
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px auto;
}
</style>