<footer>
    <div class="foot-container">
        <ul class="social-links">
            <li><a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
            <li><a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
            <li><a href="http://www.tiktok.com"><i class="fab fa-tiktok"></i></a></li>
        </ul>
        <p>&copy;Rochaya 2023. Tous droits réservés.</p>
    </div>
</footer>